<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard - My Wishlist App</title>
  <link rel="stylesheet" th:href="@{/css/common/base.css}">
  <link rel="stylesheet" th:href="@{/css/common/button.css}">
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/common/card.css}">
  <link rel="stylesheet" th:href="@{/css/common/modal.css}">
  <link rel="stylesheet" th:href="@{/css/custom/dashboard/dashboard.css}">
</head>
<body class="dashboard-page">
<header class="header">
  <div class="container">
    <div class="header-left">
      <h1 class="logo">My Wishlist App</h1>
    </div>
    <div class="header-right">
      <a th:href="@{/account}" class="header-btn btn-dashboard">
        <span class="btn-text">Account</span>
        <span class="btn-icon"><i class="icon-account"></i></span>
      </a>
    </div>
  </div>
</header>

<main>
  <div class="card">

    <div class="card-row card-title-row">
      <h2>Your Wishlists</h2>
    </div>

    <div class="card-row wishlist-list">
      <ul>
        <li th:each="wishlist : ${wishlists}" class="wishlist-item">
          <span class="wishlist-name">[[${wishlist.title}]]</span>

          <span class="wishlist-actions">
              <a th:href="@{/lists/{id}(id=${wishlist.id})}" class="btn btn-view">
                <span class="btn-text">View</span>
                <span class="btn-icon"><i class="icon-view"></i></span>
              </a>
              <a href="#" class="btn btn-delete"
                 data-post-url-template="/lists/{id}/delete"
                 th:data-id="${wishlist.id}"
                 data-confirm-message="Are you sure you want to delete this wishlist?"
                 id="deleteWishlistBtn">
                <span class="btn-text">Delete</span>
                <span class="btn-icon"><i class="icon-delete"></i></span>
              </a>
          </span>
        </li>
      </ul>
    </div>

    <div class="card-row create-button-row">
      <a th:href="@{/lists/new}" class="btn btn-create">Create New Wishlist</a>
    </div>

  </div>
</main>

<div id="confirmationModal" class="modal" style="display: none;">
  <div class="modal-overlay"></div>
  <div class="modal-content">
    <p id="modalMessage">Are you sure you want to proceed?</p>
    <div class="modal-actions">
      <button id="confirmDeleteBtn" class="btn btn-confirm">Confirm</button>
      <button id="cancelDeleteBtn" class="btn btn-cancel">Cancel</button>
    </div>
  </div>
</div>

<script th:src="@{/js/modal.js}"></script>

</body>
</html>
