<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список Побажань</title>
  <link rel="stylesheet" th:href="@{/css/common/base.css}">
  <link rel="stylesheet" th:href="@{/css/common/button.css}">
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/common/card.css}">
  <link rel="stylesheet" th:href="@{/css/common/form.css}">
  <link rel="stylesheet" th:href="@{/css/custom/dashboard/list-create.css}">
</head>
<body class="list-create-page">
<header class="header">
  <div class="container">
    <div class="header-left">
      <h1 class="logo">Список Побажань</h1>
    </div>
    <div class="header-right">
      <a th:href="@{/dashboard}" class="header-btn btn-dashboard">
        <span class="btn-text">Головна</span>
        <span class="btn-icon"><i class="icon-dashboard"></i></span>
      </a>
    </div>
  </div>
</header>

<main>
  <div class="card">
    <div class="card-row card-title-row">
      <h2>Новий Список</h2>
    </div>

    <form th:action="@{/lists}" th:object="${wishlistDto}" method="post">

      <div class="card-row form-row">
        <label for="title">Назва списку</label>
        <input type="text" id="title" th:field="*{title}" class="form-control" />
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message"></div>
      </div>

      <div class="card-row form-row">
        <label for="templateId">Шаблон</label>
        <select id="templateId" th:field="*{templateId}" class="form-control">
          <option value="" disabled selected>Оберіть шаблон</option>
          <option th:each="template : ${templates}"
                  th:value="${template.id}"
                  th:text="${template.title}">
            Template Title
          </option>
        </select>
        <div th:if="${#fields.hasErrors('templateId')}" th:errors="*{templateId}" class="error-message"></div>
      </div>

      <div class="card-row error-row" th:if="${errorDetails}">
        <div class="alert alert-danger">
          <ul>
            <li th:each="err : ${errorDetails}" th:text="${err.defaultMessage}"></li>
          </ul>
        </div>
      </div>

      <div class="card-row submit-row">
        <button type="submit" class="btn btn-submit">Створити список</button>
      </div>
    </form>
  </div>
</main>
</body>
</html>
