<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View Entry - My Wishlist App</title>
  <link rel="stylesheet" th:href="@{/css/common/base.css}">
  <link rel="stylesheet" th:href="@{/css/common/button.css}">
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/common/card.css}">
  <link rel="stylesheet" th:href="@{/css/common/modal.css}">
  <link rel="stylesheet" th:href="@{/css/custom/entry/entry-view.css}">
</head>
<body class="entry-view-page">

<header class="header">
  <div class="container">
    <div class="header-left">
      <h1 class="logo">My Wishlist App</h1>
    </div>
    <div class="header-right">
      <a th:href="@{/lists/{id}(id=${wishlist.id})}" class="header-btn btn-dashboard">
        <span class="btn-text">Back to List</span>
        <span class="btn-icon"><i class="icon-back"></i></span>
      </a>
    </div>
  </div>
</header>

<main>
  <div class="card">

    <div class="card-row card-title-row">
      <h2 th:text="${entry.title}">Entry Title</h2>
    </div>

    <div class="card-row dynamic-fields-row">
      <ul>
        <li th:each="entry : ${entryDataFields}">
          <strong th:text="${#strings.capitalize(#strings.replace(entry.key, '_', ' '))}">Field</strong>:
          <span th:text="${entry.value == null ? 'No' : (entry.value == 'true' ? 'Yes' :  entry.value)}">Value</span>
        </li>
      </ul>
    </div>

    <div class="card-row action-buttons-row">
      <a href="#" class="btn btn-delete"
         id="deleteEntryBtn"
         data-post-url-template="/entries/{id}/delete"
         th:data-id="${entry.id}"
         data-confirm-message="Are you sure you want to delete this entry?">
        <span class="btn-text">Delete</span>
        <span class="btn-icon"><i class="icon-delete"></i></span>
      </a>
    </div>
  </div>
</main>

<div id="confirmationModal" class="modal" style="display: none;">
  <div class="modal-overlay"></div>
  <div class="modal-content">
    <p id="modalMessage">Are you sure you want to proceed?</p>
    <div class="modal-actions">
      <button id="confirmDeleteBtn" class="btn btn-confirm">Confirm</button>
      <button id="cancelDeleteBtn" class="btn btn-cancel">Cancel</button>
    </div>
  </div>
</div>

<script th:src="@{/js/modal.js}"></script>

</body>
</html>
